<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let timetables of timetable" >
    {{timetables.trainType}} 
    {{timetables.trainNumber}}  
    <ul class="removeBullets">
      <ng-container *ngFor="let t of timetables.timeTableRows">
        <li *ngIf="t.trainStopping == true">
          {{ t.stationShortCode }}
          {{ t.scheduledTime | slice : 11:16 }}
        </li>
      </ng-container>
    </ul>
  </ion-item>
</ion-content>
