<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="custom-title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Departure Station</ion-label>
      <ionic-selectable
        [(ngModel)]="departureStation"
        [items]="stations"
        itemValueField="stationShortCode"
        itemTextField="stationName"
        [canSearch]="true"
        (onChange)="departureChange($event)">
      </ionic-selectable>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Arrival Station</ion-label>
      <ionic-selectable
        [(ngModel)]="arrivalStation"
        [items]="stations"
        itemValueField="stationShortCode"
        itemTextField="stationName"
        [canSearch]="true"
        (onChange)="arrivalChange($event)">
      </ionic-selectable>
    </ion-item>
    <br>
    <br>
    <ion-item>
      <ion-label>Departure date</ion-label>
      <ion-datetime type="date" name="departureDate" [(ngModel)]="departureDate" display-format="DD.MM.YYYY" placeholder="Select Date"></ion-datetime>
    </ion-item>
  </ion-list>
  <div padding>
    <button class="button button-dark customBtn" ion-button block (click)="getTimetable()">Get Timetable</button>
  </div>
</ion-content>
