

<ion-content>
  <ion-card class="info-card">
      <ion-title class="custom-logo">
        </ion-title>
    <ion-card-header>
      <ion-card-title>Our Mission</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Let our customers use their time efficiently by providing fast information.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>About us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      We are five students, who formed a team during our studies of Business Information Systems.  
      As we were seeing crowds of people waiting for their train, not knowing that it had engine 
      problems and was twenty minutes delayed, we came up with the idea of RTT, an app which provides 
      information about exact train location, delay time and timetables. By combining our individual 
      skills, we will help our customers to use time efficiently and spend their saved time with better 
      things in life, than waiting.
    </ion-card-content>
  </ion-card>
</ion-content>
