
.info-card{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 2em;
    margin-left: 2em;
}
.custom-logo{
    height: 5em;
    margin-top: .5em;
    margin-bottom: .5em;
    background-image: url("../../assets/img/RTT-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 5em;
}