// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

#map {
    width: 100%;
    height: 100%;
}
.custom-title {
    height: 2.5em;
    background: #90A3AE;
    background-image: url("../src/assets/img/RTT-header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 2em;
}
.custom-background {
    background: #90A3AE;
    color: black;
}



